{
    "env": {
        "development": {
            "plugins": ["transform-es2015-modules-commonJS"]
        },
        "test": {
            "plugins": ["transform-es2015-modules-commonJS"]
        }
    }
}